@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center">@ViewData["Title"]</h2>
            <hr class="hr-1" />
            <div asp-validation-summary="All" class="text-danger font-weight-bold"></div>
            <div class="form-group">
                <i class="fas fa-user"></i> <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-user"></i> <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-shield-alt"></i><label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-shield-alt"></i> <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-envelope"></i> <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger font-weight-bold"></span>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </form>
    </div>
</div>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
