@using WinnersLeague.Models.Enums;
@using WinnersLeague.Web.Areas.Admin.Models.OddModels
@model WinnersLeague.Services.Models.OddViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>OddViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<OddType>()" class="form-control">
                    <option disabled="disabled" selected="selected">-- Choose Suggestion --</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddValue" class="control-label"></label>
                <input asp-for="OddValue" class="form-control" />
                <span asp-validation-for="OddValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match" class="control-label"></label>
                <select asp-for="Match" name="MatchId" class="form-control">
                    <option disabled="disabled" selected="selected">-- Choose Match --</option>
                    @foreach (var match in ViewData["Matches"] as IList<SelectMatchViewModel>)
                    {
                        <option value="@match.Id">@match.MatchName</option>
                    }
                </select>
                <span asp-validation-for="Match" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="All">Back to List</a>
</div>

