<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="ms-icon-310x310.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WinnersLeague</title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="/css/reset-css.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg shadow-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <div class="container">
                <div class="row">
                    <img src="@Url.Content("~/Images/soccer_ball_kick_pass_football-512.png")" width="40" height="40" class="d-inline-block align-top" alt="ball">
                    <div class="inline"><h4>Winners <br /> League</h4></div>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse font-weight-bold" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="\">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-route="AllArticles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-route="AllStadiums">Stadiums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-route="AllMatches">Matches</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle nav-link" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Leaderboards</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="nav-link" asp-area="" asp-controller="Leaderboards" asp-action="LeagueList" asp-route-name="Premier League">Premier League</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Leaderboards" asp-action="UsersList">User Leaderboard</a></li>
                    </ul>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid">
        <main class="container body-content mb-5 mt-3">
            @RenderBody()
            <hr class="hr-1" />
            <footer class="text-center">
                <p>&copy; 2018 - Winners League All Rights Reserved.</p>
            </footer>
        </main>
    </div>
        <environment include="Development">
            <script src="~/js/jquery-3.3.1.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/popper.min.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
